<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Photokyrios</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    
    <%= yield %>

    <footer class="footer">
      <nav>
        <%= link_to 'PhotonKyrios', root_path %>
        <ul class="list-inline">
          <li><%#= link_to "About", about_path %></li>
          <li><%= link_to "Github Repo", "https://github.com/bennypaulino/photokyrios", target: "_blank" %></li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
